.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container  input {
  padding : 10px;
  margin : 10px;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.items_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
